@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
}

/* //////////////////////////////// */

/* header */
.wrap {
  width: 1600px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.header_logo {
  margin-top: 10px;
}

.konami {
  margin-left: 150px;
  margin-right: 976px;
}

.header_main {
  /* width: 1600px; */
  height: 166px;
  background-image: url(../imgs/main_header.png);
  display: flex;
}

.main_list {
  position: relative;
}
.main_list ul {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 150px;
}

.main_list ul li:first-child {
  padding: 0;
}
.main_list ul li {
  padding-left: 40px;
}

.main_logo {
  margin-left: 666px;
}

.main_text {
  color: #fff;
  display: flex;
  margin-left: 86px;
  margin-top: 128px;
}

.main_text p:first-child {
  padding-bottom: 20px;
  padding-left: 0px;
}
.main_text p {
  padding-bottom: 20px;
  padding-left: 60px;
  size: 14px;
}

.main_text p a:hover {
  text-decoration: underline;
}

/* header end */

/* visual */

.visual .visual_photo {
  height: 460px;
  background-image: url(../imgs/visual_photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* container */

.container_list {
  height: 200px;
  background-color: #333;
  padding-top: 30px;
}

.container_list ul {
  display: flex;
  justify-content: center;
}

.container_list ul li {
  padding-left: 30px;
  overflow: hidden;
}

.container_list ul li img {
  transition: all 0.2s;
  cursor: pointer;
  width: 100%;
  display: block;
}

.container_list ul li img:hover {
  filter: brightness(50%);
  transform: scale(1.04);
}

.container_video {
  height: 490px;
  background-color: #fff;
  /* display: flex; */
}

.boxs ul {
  display: flex;
}

.boxs ul .video {
  width: 1260px;
  height: 490px;
  background-color: #fff;
}

.container_video .boxs ul .box {
  width: 170px;
  height: 490px;
  background-color: #000;
}

.container_games {
  height: 240px;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.games {
  display: flex;
  margin-top: 45px;
}

.games ul {
  display: flex;
}

.game1 ul li,
.game2 ul li {
  padding: 10px;
}

.game1 ul li img,
.game2 ul li img {
  transition: all 0.2s;
  cursor: pointer;
  width: 100%;
  display: block;
}

.game1 ul li img:hover,
.game2 ul li img:hover {
  filter: brightness(50%);
  transform: scale(1.04);
}

.game1 ul li h1,
.game2 ul li h1 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #fff;
}

.game1 ul li p,
.game2 ul li p {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
  color: #fff;
}

.game1 ul li button,
.game2 ul li button {
  width: 120px;
  height: 32px;
  border-radius: 34px;
  background-color: #2f562f;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.game1 ul li button:hover,
.game2 ul li button:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  height: 420px;
  background-color: #000;
}

.footer .brand_logo ul {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer .brand_logo ul li {
  margin-left: 20px;
  opacity: 0.8;
}

.footer .brand_logo ul li:first-child {
  margin-left: 0px;
}

.footer_menu button {
  background-color: #000;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #333;
  margin: 10px;
  margin-top: 20px;
}

.footer .footer_menu ul {
  display: flex;
  justify-content: center;
}

.footer_menu ul li button a .photo {
  padding-top: 8px;
  opacity: 1;
}

.footer .footer_menu ul li img {
  padding-top: 16px;
  opacity: 0.6;
}

.footer_text {
  width: 1080px;
  margin: 0 auto;
}

.footer_text .text01 {
  text-align: center;
  color: #555;
  size: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
}

.footer_text .text02 {
  size: 12px;
  color: #555;
  text-align: center;
  padding-top: 20px;
}

.copyright {
  width: 1200px;
  margin: 0 auto;
}

.copyright p {
  color: #555;
  size: 8px;
  text-align: center;
  padding-top: 20px;
}
