.container_box {
  height: 1150px;
  background-color: #fff;
}

.text_box {
  position: relative;
}

.text_header {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.text_header h1 {
  padding-top: 150px;
  font-size: 40px;
  font-weight: bold;
}
.text_header p {
  padding-top: 172px;
  font-size: 20px;
  font-weight: bold;
  color: #8f9496;
}

.text_header p span {
  color: #5d5d5d;
}

.text_list {
  width: 1020px;
  margin: 0 auto;
  padding-left: 60px;
  padding-top: 90px;
}

.text_list p {
  font-size: 28px;
  padding-top: 20px;
  color: #3d3d3d;
  font-weight: bold;
}

.text_list p span {
  color: #f887f0;
}

.text_list ul {
  margin-top: 40px;
}

.text_list ul li {
  font-size: 24px;
  padding-top: 30px;
  color: #3d3d3d;
  font-weight: bold;
  text-decoration: underline;
}

.text_list ul li:hover {
  color: #f887f0;
}

.character {
  position: absolute;
  top: 406px;
  right: 328px;
}

.side_box {
  position: absolute;
  height: 1010px;
  top: 80px;
  right: 120px;
  border-left: 1px solid #ddd;
}

.side_box ul {
  padding-top: 200px;
}

.side_box ul li {
  /* width: 130px; */
  color: #8f9496;
  font-size: 14px;
  padding-top: 16px;
  /* padding-left: 10px; */
}

.side_box ul li h1 {
  color: #5d5d5d;
  border-bottom: 1px solid #ddd;
  /* width: 130px; */
  padding-left: 10px;
}

.side_box ul li p {
  padding-left: 10px;
}

.side_box ul li p:hover {
  text-decoration: underline;
}
